.hero-wrapper {
  display: flex;
  flex-direction: column;
}

.tsoi-hero {
  position: relative;
  display: block;
  bottom: -17.5vh;
}

.tsoi-hero img {
  width: calc(10rem + 50vw + 7.5vh);
  left: 50%;
  transform: translateX(-40%);
  height: fit-content;
  position: relative;
  z-index: 3;
}

.donut-stack {
  position: absolute;
  top: -5%;
  right: 25%;
  width: 30%; /* proportion of Tsoi's width */
  aspect-ratio: 1 / 1;
  z-index: 2;
  pointer-events: none;
}

.asia-week-donut,
.sontsa-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.asia-week-donut {
  width: 100%;
  height: 100%;
  background-image: url("assets/asia-week-donut.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 2;
}

.sontsa-overlay {
  width: 172.5%;
  height: 172.5%;
  top: -26%;
  left: -34%;
  z-index: 1;
  background-image: url("assets/sontsa.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.hero-cta {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    var(--colors-gray-950) 22.5%
  );
  padding: 5.2rem 2rem 7.2rem;
  color: var(--colors-gray-50);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  z-index: 4;
}

.event-info {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  gap: 3.6rem;
  padding: 0 2rem;
}

.event-info-txt h1.title {
  font-weight: 600;
}

.event-info-txt h2.subtitle {
  font-weight: normal;
  font-style: italic;
}

.event-info-txt .description {
  font-size: var(--fs-md);
}

.date-wrapper {
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  transform: rotate(270deg);
  width: 1rem;
  margin-top: 12rem;
}

.date-line-1,
.date-line-2,
.date-line-3 {
  white-space: nowrap;
}
.date-line-2,
.date-line-3 {
  text-align: left;
}

.date-line-1 {
  font-weight: 900;
  font-size: 4rem;
  text-align: right;
  min-width: 9rem;
}

.date-line-2 {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

.date-line-3 {
  font-weight: 400;
  font-size: 1.4rem;
  width: 6rem;
}

a.btn.sign-up,
a.btn.contact-us {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
}

a.btn.sign-up svg,
a.btn.contact-us svg {
  width: 1.6rem;
}

.event-info-txt {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex-grow: 2;
}

/* TODO: ???? used? */
.event-info-txt .title,
.event-info-txt .subtitle,
#scheduleTitle,
#guestTitle,
#lecturersTitle,
#partnersTitle,
#contactTitle {
  font-size: var(--fs-lg);
}
