section {
  background-position: center;
}

span.thin {
  font-weight: 200;
}

main {
  /* height: 100vh;
  height: 100dvh; */
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main::-webkit-scrollbar {
  display: none;
}

section {
  /* height: 100vh; */
  height: 100dvh;
  width: 100vw;
  scroll-snap-align: start;
  position: relative;
}

#guests,
#partners,
#contact {
  gap: 3.2rem;
}

.timeline,
#guests,
#lecturers,
#partners,
#contact {
  height: 100dvh;
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.timeline,
#guests,
#lecturers,
#contact {
  padding: 10vh 0 0;
}

/* Very Tiny Mobile */
@media screen and (max-height: 700px) {
  #guests,
  #partners,
  #contact {
    gap: 2rem;
  }

  .timeline,
  #guests,
  #lecturers,
  #contact {
    padding: 8dvh 0 0;
  }
}
