<h3 id="contactTitle" class="white-label">Contact</h3>

<div class="contact-wrapper">
  <div class="contact-card">
    <div class="partner-contact-wrapper">
      <h4 id="partnerWithUs">Partner With Us</h4>

      <p id="partnerWithUs">
        Interested in partnering with us or helping promote this event? Get in
        touch with us!
      </p>

      <a
        href="mailto:seratiuk.flores.heloisa.236@m.kyushu-u.ac.jp"
        class="btn btn-secondary contact-us"
      >
        <span id="contactUs"> Contact Us </span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-mail-icon lucide-mail"
        >
          <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7" />
          <rect x="2" y="4" width="20" height="16" rx="2" />
        </svg>
      </a>
    </div>

    <div class="qaos-contact-wrapper">
      <h5 id="forUpcomingEvents">For Upcoming Events</h5>

      <ul class="qaos-contacts">
        <li>
          <a href="https://q-aos.kyushu-u.ac.jp/en/contact/" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link-icon lucide-external-link"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg>

            <span id="contactQAOS"> Visit QAOS Website </span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="contact-card">
    <h5 id="organizingCommittee">Organizing Committee</h5>

    <ul class="organizing-committee">
      <li>
        <div class="organizer-title">
          <h6>Charlène Clonts</h6>
          <p class="attributions" id="charleneAttribution">Title</p>
        </div>

        <a href="mailto:" class="organizer-contact">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-mail-icon lucide-mail"
          >
            <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7" />
            <rect x="2" y="4" width="20" height="16" rx="2" />
          </svg>

          email address
        </a>
      </li>

      <li>
        <div class="organizer-title">
          <h6>Heloísa Flores</h6>
          <p class="attributions" id="heloisaAttribution">Main organizer</p>
        </div>

        <a
          href="mailto:seratiuk.flores.heloisa.236@m.kyushu-u.ac.jp"
          class="organizer-contact"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-mail-icon lucide-mail"
          >
            <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7" />
            <rect x="2" y="4" width="20" height="16" rx="2" />
          </svg>

          seratiuk.flores.heloisa.236@m.kyushu-u.ac.jp
        </a>
      </li>

      <li>
        <div class="organizer-title">
          <h6>Maria Almeida</h6>
          <p class="attributions" id="mariaAttribution">
            Website development, communication support
          </p>
        </div>

        <a href="mailto:mariak.fla@gmail.com" class="organizer-contact">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-mail-icon lucide-mail"
          >
            <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7" />
            <rect x="2" y="4" width="20" height="16" rx="2" />
          </svg>

          mariak.fla@gmail.com
        </a>
      </li>
    </ul>
  </div>
</div>
