<h3 id="guestTitle" class="black-label">Guest Speakers</h3>

<div class="carousel guest-carousel">
  <ul class="carousel-track guest-slides">
    <li class="guest-slide carousel-slide active">
      <div class="guest-card">
        <div class="guest-img-wrapper">
          <img src="/assets/guests/nougmanov.webp" alt="" />
        </div>

        <div class="guest-txt">
          <div class="title-wrapper">
            <h3 class="guest-name">Rachid Nougmanov</h3>
            <h4 class="guest-title" id="rachidTitle">Film Director</h4>
          </div>

          <p class="guest-description" id="rachidDescription">
            Director of The Needle. A Kazakh film director, screenwriter, and
            producer. A pioneer of Kazakh new wave cinema, he connects Central
            Asian narratives with global audiences.
          </p>

          <div class="desktop-slide-btn-wrapper desktop-slide-controls">
            <button class="btn slide-btn prev" aria-label="Previous slide.">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-left-icon lucide-chevron-left"
              >
                <path d="m15 18-6-6 6-6" />
              </svg>
            </button>
            <button class="btn slide-btn next" aria-label="Next slide">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-right-icon lucide-chevron-right"
              >
                <path d="m9 18 6-6-6-6" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </li>

    <li class="guest-slide carousel-slide">
      <div class="guest-card">
        <div class="guest-img-wrapper">
          <img src="/assets/guests/miyake.png" alt="" />
        </div>

        <div class="guest-txt">
          <div class="title-wrapper">
            <h3 class="guest-name">Kiki Miyake</h3>
            <h4 class="guest-title" id="miyakeTitle">
              Executive Film Producer
            </h4>
          </div>

          <p class="guest-description" id="miyakeDescription">
            Producer at Amuse Inc. and founder of Little Magic Films, develops
            internationally acclaimed projects that bridge Japanese cinema with
            global audiences, fostering cross-cultural storytelling and
            innovative film collaborations.
          </p>

          <div class="desktop-slide-btn-wrapper desktop-slide-controls">
            <button class="btn slide-btn prev" aria-label="Previous slide.">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-left-icon lucide-chevron-left"
              >
                <path d="m15 18-6-6 6-6" />
              </svg>
            </button>
            <button class="btn slide-btn next" aria-label="Next slide">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-right-icon lucide-chevron-right"
              >
                <path d="m9 18 6-6-6-6" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </li>

    <li class="guest-slide carousel-slide">
      <div class="guest-card">
        <div class="guest-img-wrapper">
          <img src="/assets/guests/stingray.webp" alt="" />
        </div>

        <div class="guest-txt">
          <div class="title-wrapper">
            <h3 class="guest-name">Joanna Stingray</h3>
            <h4 class="guest-title" id="joannaTitle">
              Singer, Actress, Music Producer
            </h4>
          </div>

          <p class="guest-description" id="joannaDescription">
            American singer, producer, and writer who introduced Soviet rock to
            Western audiences, building cultural exchange through music and art
            between the United States, Russia, and Japan since the 1980s. Joanna
            will be joining us online.
          </p>

          <div class="desktop-slide-btn-wrapper desktop-slide-controls">
            <button class="btn slide-btn prev" aria-label="Previous slide.">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-left-icon lucide-chevron-left"
              >
                <path d="m15 18-6-6 6-6" />
              </svg>
            </button>
            <button class="btn slide-btn next" aria-label="Next slide">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-right-icon lucide-chevron-right"
              >
                <path d="m9 18 6-6-6-6" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div class="slide-btn-wrapper slide-controls">
    <button class="btn slide-btn prev" aria-label="Previous slide.">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-left-icon lucide-chevron-left"
      >
        <path d="m15 18-6-6 6-6" />
      </svg>
    </button>
    <button class="btn slide-btn next" aria-label="Next slide">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-right-icon lucide-chevron-right"
      >
        <path d="m9 18 6-6-6-6" />
      </svg>
    </button>
  </div>
</div>
