<h3 class="white-label i18n-lecturersTitle">Lecturers</h3>

<div class="lecturer-card-wrapper">
  <div class="row">
    <div class="lecturer-card">
      <div class="lecturer-card-header">
        <img src="/assets/lecturers/charlene.webp" alt="" />
        <div class="title-wrapper">
          <h4 class="lecturerName i18n-charleneName">Charlène Clonts</h4>
          <h5 class="lecturerTitle i18n-associateProfessor">Associate Professor</h5>
        </div>
      </div>

      <p class="i18n-charleneBio">
        Professor at the Faculty of Humanities, Department of Language and
        Literature, Kyushu University. Her research involves well-being through
        the arts, exploring how creative practices enhance mental health and
        cross-cultural understanding.
      </p>
    </div>

    <div class="lecturer-card">
      <div class="lecturer-card-header">
        <img src="/assets/lecturers/kang.jpg" alt="" />
        <div class="title-wrapper">
          <h4 class="lecturerName i18n-kangName">Kang Byoung Yoong</h4>
          <h5 class="lecturerTitle i18n-associateProfessor">Associate Professor</h5>
        </div>
      </div>

      <p class="i18n-kangBio">
        Fiction writer, translator, and Professor of Korean culture and Literature at the University of Ljubljana. He studied in Seoul and Moscow, joined Iowa's 2022 International Writing Program (IWP), lives in Ljubljana and publishes novels in Korea, Russia and Brazil.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="lecturer-card">
      <div class="lecturer-card-header">
        <img src="/assets/lecturers/heloisa.webp" alt="" />
        <div class="title-wrapper">
          <h4 class="lecturerName i18n-heloisaName">Heloísa Seratiuk Flores</h4>
          <h5 class="lecturerTitle i18n-heloisaTitle">Specially Appointed Assistant Professor</h5>
        </div>
      </div>

      <p class="i18n-heloisaBio">
        Assistant Professor at the Institute for Asian and Oceanian Studies at
        Kyushu University. Her background is in art and design, however, her
        interests permeate cultural and social factors, leading to her research
        into cultural expression in different countries.
      </p>
    </div>

    <div class="lecturer-card">
      <div class="lecturer-card-header">
        <img src="/assets/lecturers/kamioka.webp" alt="" />
        <div class="title-wrapper">
          <h4 class="lecturerName i18n-kamiokaName">Rieko Kamioka</h4>
          <h5 class="lecturerTitle i18n-associateProfessor">Associate Professor</h5>
        </div>
      </div>

      <p class="i18n-kamiokaBio">
        Professor at the Faculty of Liberal Arts at Chuo Gakuin University. She specializes in Soviet underground culture research and has served as a Russian language instructor for NHK's radio program “Back in the USSR” (Oct. 2024 - Mar. 2025).
      </p>
    </div>
  </div>
</div>
