<div class="timeline">
  <h3 class="i18n-scheduleTitle white-label">Schedule</h3>

  <a
    href="https://maps.app.goo.gl/3jaT2t9Z6vzV86rx5"
    target="_blank"
    class="location"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-map-pin-icon lucide-map-pin"
    >
      <path
        d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
      />
      <circle cx="12" cy="10" r="3" />
    </svg>
    <p class="i18n-location">
      Kyushu University, Ohashi Campus, Design Commons
    </p>
  </a>

  <div class="carousel schedule-carousel">
    <ul class="carousel-track schedule-slides">
      <li class="carousel-slide active">
        <div class="timeslot">
          <h4>1:00PM - 2:00PM</h4>
        </div>
        <div class="schedule-card">
          <img
            src="/assets/schedule/schedule_1.webp"
            alt="Two rectangles, one with an image of the Tsoi Monument in Almaty, Kazakhstan, edited with a red background and a black and white foreground. Below and slightly to the right, another rectangle showing the Tsoi Wall from Moscow, displaying an illustration of Tsoi with the chorus from the song Peremen. The photo is edited so the sun around his portrait is red. Above both rectangles is an outline of the map of Asia."
          />
          <div class="schedule-txt">
            <div class="activity-wrapper">
              <p class="activity-time">1:00pm</p>
              <div class="activity">
                <h4 class="activity-title">
                  <span class="bold i18n-activityTitle1">Welcome Remarks</span>
                </h4>
              </div>
            </div>

            <div class="activity-wrapper">
              <p class="activity-time">1:05pm</p>
              <div class="activity">
                <h4 class="activity-title i18n-activityTitle2">
                  <span class="bold">Historical Context:</span> Viktor Tsoi's
                  Lasting Influence Throughout Asia
                </h4>
                <p class="activity-description">
                  <span class="bold i18n-moderator"> Moderator: </span>
                  <span class="i18n-heloisaTitle"
                    >Specially Appointed Assistant Professor </span
                  ><span class="i18n-heloisaName bold">
                    Heloísa Seratiuk Flores</span
                  >
                </p>
              </div>
            </div>

            <div class="activity-wrapper">
              <p class="activity-time">1:35pm</p>
              <div class="activity">
                <h4 class="activity-title i18n-activityTitle3">
                  <span class="bold">Round Table Conversation:</span>
                  Bringing Kino to Japan through Film: Connections and
                  Motivations
                </h4>
                <p class="activity-description">
                  <span class="bold i18n-moderator"> Moderator: </span>
                  <span class="i18n-heloisaTitle"
                    >Specially Appointed Assistant Professor </span
                  ><span class="i18n-heloisaName bold">
                    Heloísa Seratiuk Flores</span
                  ><br />
                  <span class="bold i18n-participants">Participants:</span>
                  <span class="i18n-rachidName">Rachid Nougmanov</span>,
                  <span class="i18n-kikiName">Kiki Miyake</span>,
                  <span class="i18n-joannaName">Joanna Stingray</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="carousel-slide">
        <div class="timeslot">
          <h4>2:10PM - 4:00PM</h4>
        </div>
        <div class="schedule-card">
          <img
            src="/assets/schedule/schedule_2.webp"
            alt="A sequence of three vertical rectangles, with the first and third ones having a red filter. The first one shows a scene from Igla where Viktor Tsoi lights a cigarette, his face overshadowed. The second is a black-and-white photo of Tsoi holding a coffee mug while smirking and sitting casually on the floor. The third is a scene from the film Igla with a close-up of Viktor Tsoi's bruised face. He has a serious expression and looks directly at the camera."
          />
          <div class="schedule-txt">
            <div class="activity-wrapper">
              <p class="activity-time">2:10pm</p>
              <div class="activity">
                <h4 class="activity-title break i18n-break">Break</h4>
              </div>
            </div>

            <div class="activity-wrapper">
              <p class="activity-time">2:20pm</p>
              <div class="activity">
                <h4
                  class="activity-title i18n-activityTitle5"
                  id="activityTitle5"
                >
                  Rachid Nougmanov’s Intermedia Practice as Resilience: Trauma & Voices from the Margins
                </h4>
                <p class="activity-description">
                  <span class="i18n-associateProfessor"
                    >Associate Professor</span
                  >
                  <span class="bold i18n-charleneName"> Charlène Clonts</span>
                </p>
              </div>
            </div>

            <div class="activity-wrapper">
              <p class="activity-time">2:50pm</p>
              <div class="activity">
                <h4 class="activity-title i18n-activityTitle6">
                  Introduction and Reception of Viktor Tsoi and Soviet Rock Music in Japan
                </h4>
                <p class="activity-description">
                  <span class="i18n-kamiokaTitle"> Junior Associate Professor </span>
                  <span class="bold i18n-kamiokaName"> Rieko Kamioka</span>
                </p>
              </div>
            </div>

            <div class="activity-wrapper">
              <p class="activity-time">3:20pm</p>
              <div class="activity">
                <div class="activity">
                  <h4 class="activity-title break i18n-break">Break</h4>
                </div>
              </div>
            </div>

            <div class="activity-wrapper">
              <p class="activity-time">3:30pm</p>
              <div class="activity">
                <h4 class="activity-title i18n-activityTitle7">
                  <span class="bold"> Viktor Tsoi:</span> Connecting Russia,
                  Japan, Korea, and Brazil
                </h4>
                <p class="activity-description">
                  <span class="i18n-associateProfessor">
                    Associate Professor
                  </span>
                  <span class="bold i18n-kangName"> Kang Byoung Yoong</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="carousel-slide">
        <div class="timeslot">
          <h4>4:00PM - 6:00PM</h4>
        </div>
        <div class="schedule-card">
          <img
            src="/assets/schedule/schedule_3.webp"
            alt="A sequence of two horizontal rectangles, the first (top) in black-and-white with red accents and the second (bottom) with a red filter. The first image is a scene from the film Igla where Moro and Dina sit across from each other on a table, holding hands, gazing at each other. Dina wears a mask and a red sweater. Moro is overshadowed and has a serious expression. The second image is Igla's title card, written in Russian."
          />
          <div class="schedule-txt">
            <div class="activity-wrapper">
              <p class="activity-time">4:00pm</p>
              <div class="activity">
                <h4 class="activity-title i18n-activityTitle8">
                  Introduction to The Needle
                </h4>
                <p class="activity-description">
                  <span class="bold i18n-rachidName">Rachid Nougmanov</span>
                </p>
              </div>
            </div>

            <div class="activity-wrapper">
              <p class="activity-time">4:20pm</p>
              <div class="activity">
                <h4 class="activity-title break i18n-break">Break</h4>
              </div>
            </div>

            <div class="activity-wrapper">
              <p class="activity-time">4:30pm</p>
              <div class="activity">
                <h4 class="activity-title i18n-activityTitle9">
                  The Needle Screening
                </h4>
              </div>
            </div>

            <div class="activity-wrapper">
              <p class="activity-time">6:00pm</p>
              <div class="activity">
                <h4 class="activity-title i18n-activityTitle10">Q&A Session</h4>
                <p class="activity-description">
                  <span class="i18n-moderator bold"> Moderator: </span>
                  <span class="i18n-heloisaTitle"
                    >Specially Appointed Assistant Professor </span
                  ><span class="i18n-heloisaName">Heloísa Seratiuk Flores</span>
                  <br />
                  <span class="bold i18n-participants">Participants:</span>
                  <span class="i18n-associateProfessor"
                  
                  <span class="i18n-associateProfessor"
                    >Associate Professor</span
                  >
                  <span class="i18n-kangName"> Kang Byoung Yoong</span>,
                  <span class="i18n-professor">Professor</span>
                  <span class="i18n-kamiokaName"> Rieko Kamioka</span>,
                  <span class="i18n-rachidName"> Rachid Nougmanov</span>,
                  <span class="i18n-kikiName"> Kiki Miyake</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="slide-btn-wrapper slide-controls">
    <button class="btn slide-btn prev" aria-label="Previous slide.">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-left-icon lucide-chevron-left"
      >
        <path d="m15 18-6-6 6-6" />
      </svg>
    </button>
    <button class="btn slide-btn next" aria-label="Next slide">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-right-icon lucide-chevron-right"
      >
        <path d="m9 18 6-6-6-6" />
      </svg>
    </button>
  </div>
</div>
