.hero-wrapper {
  display: flex;
  flex-direction: column;
}

.tsoi-hero {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  bottom: -12vh;
  padding: 0 4.8rem;
}

.tsoi-hero img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 3;
}

.tsoi-hero::before {
  content: "";
  position: absolute;
  background-image: url("assets/lang-badge.webp");
  background-size: cover;
  height: 12rem;
  width: 12rem;
  bottom: 9vh;
  left: 1.6rem;
  z-index: 5;
}

.donut-stack {
  position: absolute;
  top: 0;
  right: 25%;
  width: 30%;
  aspect-ratio: 1 / 1;
  z-index: 2;
  pointer-events: none;
}

.asia-week-donut,
.sontsa-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.asia-week-donut {
  width: 100%;
  height: 100%;
  background-image: url("assets/asia-week-donut.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 2;
}

.sontsa-overlay {
  width: 172.5%;
  height: 172.5%;
  top: -26%;
  left: -34%;
  z-index: 1;
  background-image: url("assets/sontsa.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.hero-cta {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    var(--colors-gray-950) 22.5%
  );
  padding: 5.2rem 2rem 5.2rem;
  color: var(--colors-gray-50);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  z-index: 4;
}

.event-info {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  gap: 2.8rem;
  padding: 0 1.6rem;
}

.event-info-txt h1.title {
  font-weight: 600;
  font-size: var(--fs-lg);
}

.event-info-txt h2.subtitle {
  font-weight: 500;
  font-size: var(--fs-md);
}

p#address {
  font-size: 1.2rem;
  padding-bottom: 0.4rem;
  color: var(--colors-gray-400);
}

p#heroDescription {
  font-size: var(--fs-sm);
}

.date-wrapper {
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  transform: rotate(270deg);
  width: 1rem;
  margin-top: 12rem;
}

.date-line-1,
.date-line-2,
.date-line-3 {
  white-space: nowrap;
}
.date-line-2,
.date-line-3 {
  text-align: left;
}

.date-line-1 {
  font-weight: 900;
  font-size: 4rem;
  text-align: right;
  min-width: 9rem;
}

.date-line-2 {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

.date-line-3 {
  font-weight: 400;
  font-size: 1.4rem;
  width: 6rem;
}

.event-info-txt {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex-grow: 2;
}

h3.white-label,
h3.black-label {
  font-size: var(--fs-lg);
}

.hero-btn-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}

/* Very Tiny Mobile */
@media screen and (max-height: 700px) {
  .tsoi-hero {
    bottom: -8vh;
  }

  .tsoi-hero img {
    width: 80%;
    height: auto;
    margin: auto;
  }

  .tsoi-hero::before {
    bottom: 9.5vh;
  }

  .donut-stack {
    top: -8%;
    right: 30%;
    width: 25%;
  }

  .hero-cta {
    padding: 5.6rem 1.6rem 4.4rem;
    gap: 1.6rem;
  }

  .event-info-txt h1.title,
  .event-info-txt h2.subtitle {
    font-size: var(--fs-md);
  }

  .event-info-txt .description {
    font-size: var(--fs-sm);
  }

  .activity-time,
  .activity-title,
  .timeslot h4 {
    font-size: var(--fs-sm);
  }

  .event-info-txt .title,
  .event-info-txt .subtitle,
  h3.white-label,
  h3.black-label {
    font-size: var(--fs-md);
  }

  .slide-btn {
    width: 3rem;
    height: 3rem;
  }

  .slide-btn-wrapper {
    bottom: calc(50% + 15vh);
    width: 90vw;
    left: 5vw;
  }
}

/* Tablet */
/* @media screen and (min-width: 701px) {
  .tsoi-hero {
    bottom: -15vh;
  }

  .tsoi-hero img {
    width: calc(10rem + 40vw + 5vh);
  }

  .donut-stack {
    right: 32%;
    top: -7%;
    width: 20%;
  }

  .hero-cta {
    padding: 5.6rem 3.2rem 7.2rem;
    gap: 2.8rem;
  }

  .event-info {
    gap: 5.6rem;
  }

  .date-wrapper {
    gap: 1.2rem;
    margin-top: 15rem;
  }

  .date-line-1 {
    font-size: 4.8rem;
    min-width: 10rem;
  }

  .date-line-2 {
    font-size: 2.4rem;
  }

  .date-line-3 {
    font-size: 1.6rem;
    width: 7rem;
  }

  .event-info-txt {
    gap: 1rem;
  }

  .event-info-txt .title,
  .event-info-txt .subtitle {
    font-size: var(--fs-tablet-lg);
  }

  .event-info-txt .description {
    font-size: var(--fs-tablet-md);
  }
} */

/* Desktop */
@media screen and (min-width: 1025px) {
  .hero-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
    gap: 0;
    padding: 0 max(5vw, 5rem);
    background-image: radial-gradient(
        circle at 20% -30%,
        hsla(236, 100%, 23%, 75%) 0%,
        transparent 50vw
      ),
      linear-gradient(
        90deg,
        hsla(236, 100%, 23%, 50%) 0%,
        rgba(0, 0, 0, 0.25) calc(50vw + 4rem),
        transparent calc(50vw + 4rem)
      );
    background-blend-mode: multiply, multiply;
  }

  .tsoi-hero {
    position: relative;
    bottom: 0;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 min(10rem, 10vw) 0;
  }

  .donut-stack {
    top: -5%;
    right: 30%;
    width: 25%;
  }

  .tsoi-hero img {
    width: 90%;
    max-width: 50rem;
    height: auto;
  }

  .tsoi-hero::before {
    height: 16rem;
    width: 16rem;
    bottom: 4.4rem;
    left: 6.8rem;
  }

  .hero-cta {
    position: relative;
    height: 100%;
    width: 50%;
    left: 0;
    gap: 3.2rem;
    padding: 0 min(5rem, 5vw) 7.2rem min(10vw, 13.2rem);
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: none;
  }

  .event-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0;
  }

  .date-wrapper {
    gap: 0.4rem;
    transform: rotate(0);
    margin: 0;
    padding-bottom: 3.2rem;
  }

  .date-line-1,
  .date-line-2,
  .date-line-3 {
    text-align: left;
  }

  .date-line-1 {
    font-size: 9.6rem;
    line-height: 6rem;
    min-width: 16rem;
    text-align: left;
  }

  .date-line-2 {
    font-size: 3.6rem;
  }

  .date-line-3 {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 2.8rem;
  }

  .event-info-txt {
    flex-direction: column;
    gap: 0.8rem;
  }

  .event-info-txt h2.subtitle {
    font-size: 2rem;
  }

  p#address {
    font-size: var(--fs-md);
    padding-bottom: 0.4rem;
    color: var(--colors-gray-400);
  }

  p#heroDescription {
    font-size: var(--fs-md);
    text-align: justify;
  }

  .slide-btn-wrapper {
    display: none;
  }

  .carousel {
    overflow: visible;
    width: 100%;
  }

  .carousel-track {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: stretch;
  }

  .guest-slides {
    justify-content: flex-start;
    gap: 0 !important;
  }

  .carousel-slide {
    min-width: 0;
    max-width: none;
    padding: 0;
  }

  #partners,
  #guests,
  #contact {
    padding: 12rem 0 6rem;
    gap: 8rem;
    height: 100vh;
  }

  .desktop-slide-btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;

    position: relative;
    z-index: 10;
  }

  #lecturers,
  #partners,
  #contact {
    justify-content: center;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5%);
  }

  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(-5%);
  }
}

.rotate {
  transform-origin: 50% 50%;
  will-change: transform;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* faaaaaabulous gradients */
@keyframes hero-gradient-animation {
  0% {
    --x-0: 0%;
    --y-0: 99%;
    --x-1: 93%;
    --y-1: 95%;
    --x-2: 46%;
    --y-2: 94%;
  }
  100% {
    --x-0: 19%;
    --y-0: 15%;
    --x-1: 16%;
    --y-1: 13%;
    --x-2: 56%;
    --y-2: 43%;
  }
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 99%;
}
@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 93%;
}
@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 95%;
}

#hero {
  --c-0: hsla(11, 100%, 50%, 0.75);
  --c-1: #000875;
  /* --c-2: hsla(327, 100%, 50%, 0.5); */
  --c-3: hsla(206, 100%, 9%, 0.02);

  --s-start-0: 0%;
  --s-end-0: 67%;
  --s-start-1: 0%;
  --s-end-1: 66%;
  /* --s-start-2: 0%;
  --s-end-2: 81%; */
  --s-start-3: 0%;
  --s-end-3: 150%;

  --x-0: 0%;
  --y-0: 99%;
  --x-1: 93%;
  --y-1: 95%;
  /* --x-2: 46%;
  --y-2: 94%; */
  --x-3: 89%;
  --y-3: 8%;

  background-image: radial-gradient(
      circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)
    ),
    radial-gradient(
      circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)
    ),
    /* radial-gradient(
      circle at var(--x-2) var(--y-2),
      var(--c-2) var(--s-start-2),
      transparent var(--s-end-2)
    ), */
      radial-gradient(
        circle at var(--x-3) var(--y-3),
        var(--c-3) var(--s-start-3),
        transparent var(--s-end-3)
      ),
    url("/assets/gradient-placeholder.jpg");
  background-repeat: no-repeat;
  background-blend-mode: normal;
  animation: hero-gradient-animation 17s ease-in-out infinite alternate-reverse;
  background-size: cover;
  will-change: background-position, background;
}

section:not(#hero) {
  background-size: cover;
  background-position: center right;
}

#schedule,
#lecturers,
#contact {
  background-image: url("assets/gradient-sections-odd.jpg");
}

#guests,
#partners {
  background-image: url("assets/gradient-sections-even.jpg");
}
