* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--ff-english);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  font-size: 62.5%;

  --ff-english: "Rubik", sans-serif;

  --border-color: hsla(210, 20%, 98%, 50%);
  --hr-color: hsla(210, 20%, 98%, 25%);

  --backdrop-bg: blur(5px);
  --card-shadow: 0 4px 4px hsla(224, 71%, 4%, 25%),
    inset 0 4px 4px hsla(224, 71%, 4%, 25%);

  --colors-card-bg: hsla(224, 71%, 4%, 50%);
  --colors-accent: #b91c1c;
  --colors-accent-700: #991b1b;
  --colors-gray-50: #f9fafb;
  --colors-gray-200: #e5e7eb;
  --colors-gray-400: #9ca3af;
  --colors-gray-500: #6b7280;
  --colors-gray-600: #4b5563;
  --colors-gray-700: #374151;
  --colors-gray-950: #030712;

  --fs-cta: 1.6rem;
  --fs-xl: 2.4rem;
  --fs-lg: clamp(1.8rem, calc(1.1647rem + 1.765vw), 2.4rem);
  --fs-md: clamp(1.5rem, calc(1.1824rem + 0.882vw), 1.8rem);
  --fs-sm: 1.4rem;
  --fs-xs: 1.3rem;

  --border-radius: 8px;
  --card-border-radius: 12px;
  --drawer-border-radius: 16px;
}

section {
  background-position: center;
}

hr {
  flex-grow: 1;
  border: 0.1px solid var(--hr-color);
}

button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 1.6rem 0;
  font-size: var(--fs-lg);
  background-color: var(--colors-accent);
  color: var(--colors-gray-50);
  border-radius: var(--border-radius);
  padding: 1.2rem 0;
  text-align: center;
  cursor: pointer;
  font-size: var(--fs-cta);
  font-weight: 700;
  border: 2px solid var(--colors-accent);

  &:hover {
    background-color: var(--colors-accent-700);
    border-color: var(--colors-accent-700);
    transition: all 0.25s ease-in-out;
  }
}

.btn-secondary {
  background-color: var(--colors-gray-50);
  color: var(--colors-accent);

  &:hover {
    background-color: var(--colors-accent);
    border-color: var(--colors-accent);
    color: var(--colors-gray-50);
    transition: all 0.25s ease-in-out;
  }
}

.card,
.drawer {
  background-color: var(--colors-card-bg);
  border: 1px solid var(--border-color);
  box-shadow: var(--card-shadow);
  backdrop-filter: var(--backdrop-bg);
  -webkit-backdrop-filter: var(--backdrop-bg);
}

.card {
  border-radius: var(--card-border-radius);
  padding: 0.8rem 1.6rem;
}

.drawer {
  border-radius: var(--drawer-border-radius);
  padding: 2.4rem;
}

/* Language toggle component */
.lang-toggle {
  font-size: var(--fs-sm);
  line-height: 2.6rem;
  display: inline-block;
  border-radius: 4px;
  border: solid 1px var(--border-color);
  height: 2.6rem;
  box-sizing: border-box;
  position: relative;
  user-select: none;
  background-color: var(--colors-card-bg);
  backdrop-filter: var(--backdrop-bg);

  &:hover .lang-slider {
    background-color: var(--colors-gray-400);
    transition: all 0.2s ease-in-out;
  }

  label[for="lang-toggle"] {
    cursor: pointer;
  }

  .lang-slider {
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 2px;
    background-color: var(--colors-gray-200);
    width: 2.2rem;
    height: 2rem;
    transition: all 0.2s ease-in-out;
  }

  input {
    display: none;

    &:not(checked) + label .lang-slider {
      transform: translateX(0);
    }

    &:checked + label .lang-slider {
      transform: translateX(3rem);
    }
  }

  .options div {
    float: left;
    height: 2.4rem;
    width: 2.8rem;
    line-height: 2.4rem;
    text-align: center;
    color: var(--colors-gray-400);

    &:first-child,
    &:last-child {
      padding: 0 0.6rem;
    }
  }
}

span.thin {
  font-weight: 200;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 600;
}

.nav {
  top: 0;

  background-image: linear-gradient(
    to bottom,
    var(--colors-gray-950) -10%,
    transparent 100%
  );

  z-index: 9999;
}

.nav,
.footer {
  color: var(--colors-gray-50);
  gap: 2.4rem;
  padding: 1.6rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
}

.footer {
  z-index: 99;
  bottom: 0;

  background-image: linear-gradient(
    to top,
    var(--colors-gray-950) -10%,
    transparent 100%
  );
}

.hamburger {
  cursor: pointer;
}

.hamburger.active svg.lucide-menu-icon,
.hamburger svg.lucide-x-icon {
  display: none;
}

.hamburger svg.lucide-menu-icon,
.hamburger.active svg.lucide-x-icon {
  display: block;
}

ul.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2rem;
  left: -120%;
  opacity: 0;
  top: 0;

  font-size: 2.4rem;

  background-color: hsla(224, 71%, 4%, 75%);
  backdrop-filter: var(--backdrop-bg);
  width: 100vw;
  text-align: center;
  height: 100vh;

  transition: all 0.2s ease-in-out;
  z-index: -1;
}

ul.menu.active {
  left: 0;
  opacity: 1;
  /* z-index: 1; */
}

ul.menu a {
  color: var(--colors-gray-50);

  transition: all 0.2s ease-in-out;
}

.footer svg {
  stroke: var(--colors-gray-400);
  will-change: transform;
  animation: bounce 1.5s infinite;
  width: 2.4rem;
}

main {
  /* height: 100vh;
  height: 100dvh; */
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main::-webkit-scrollbar {
  display: none;
}

section {
  /* height: 100vh; */
  height: 100dvh;
  width: 100vw;
  scroll-snap-align: start;
  position: relative;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
}

.tsoi-hero {
  position: relative;
  display: block;
  bottom: -17.5vh;
}

.tsoi-hero img {
  width: calc(10rem + 50vw + 7.5vh);
  left: 50%;
  transform: translateX(-40%);
  height: fit-content;
  position: relative;
  z-index: 3;
}

.donut-stack {
  position: absolute;
  top: -5%;
  right: 25%;
  width: 30%; /* proportion of Tsoi's width */
  aspect-ratio: 1 / 1;
  z-index: 2;
  pointer-events: none;
}

.asia-week-donut,
.sontsa-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.asia-week-donut {
  width: 100%;
  height: 100%;
  background-image: url("assets/asia-week-donut.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 2;
}

.sontsa-overlay {
  width: 172.5%;
  height: 172.5%;
  top: -26%;
  left: -34%;
  z-index: 1;
  background-image: url("assets/sontsa.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.hero-cta {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    var(--colors-gray-950) 22.5%
  );
  padding: 5.2rem 2rem 7.2rem;
  color: var(--colors-gray-50);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  z-index: 4;
}

.event-info {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  gap: 3.6rem;
  padding: 0 2rem;
}

.date-wrapper {
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  transform: rotate(270deg);
  width: 1rem;
  margin-top: 12rem;
}

.date-line-1,
.date-line-2,
.date-line-3 {
  white-space: nowrap;
}
.date-line-2,
.date-line-3 {
  text-align: left;
}

.date-line-1 {
  font-weight: 900;
  font-size: 4rem;
  text-align: right;
  min-width: 9rem;
}

.date-line-2 {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

.date-line-3 {
  font-weight: 400;
  font-size: 1.4rem;
  width: 6rem;
}

a.btn.sign-up {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
}

a.btn.sign-up svg {
  width: 1.6rem;
}

.event-info-txt {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex-grow: 2;
}

.event-info-txt .title,
.event-info-txt .subtitle,
#scheduleTitle,
#guestTitle,
#lecturersTitle {
  font-size: var(--fs-lg);
}

.event-info-txt h1.title {
  font-weight: 600;
}

.event-info-txt h2.subtitle {
  font-weight: normal;
  font-style: italic;
}

.event-info-txt .description {
  font-size: var(--fs-md);
}

.timeline,
#guests,
#lecturers {
  height: 100%;
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10vh 0 0;
}

.white-label,
.black-label,
.timeslot h4 {
  padding: 0.4rem 1.6rem;
  line-height: 50%;
}

.timeslot h4 {
  background-color: var(--colors-accent);
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 666px;
  width: fit-content;
  margin-bottom: 3.2rem;
}

.timeslot h4:nth-child(1)::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 200vw;
  height: 2px;
  background: var(--colors-accent);
  top: 0.65rem;
  left: 50vw;
}

.white-label,
.black-label {
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
}

.white-label {
  color: var(--colors-gray-950);
  background-color: var(--colors-gray-50);
}

.black-label {
  color: var(--colors-gray-50);
  background-color: var(--colors-gray-950);
}

a.location {
  display: flex;
  font-size: 1.2rem;
  color: var(--colors-gray-200);
  align-items: center;
  gap: 0.8rem;
  margin: 0.8rem 0 2rem;
}

a.location svg {
  width: 1.4rem;
}

.schedule-card img {
  width: auto;
  height: 22.5vh;
  margin: 0 50%;
  transform: translateX(-50%);
}

.schedule-txt,
.guest-txt {
  padding: 2.8rem 2rem 50vh;
  border-top: 1px solid var(--border-color);
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  width: 100vw;
  background-color: var(--colors-card-bg);
  display: flex;
  flex-direction: column;
}

.schedule-txt {
  gap: 1rem;
  padding: 2.8rem 2rem 50vh;
}

.guest-txt {
  /* padding: 2.8rem 2rem 50vh; */
  gap: 1.6rem;
}

.activity-wrapper {
  display: flex;
  gap: 1.6rem;
}

.activity-time {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--colors-accent);
  min-width: 6rem;
  text-align: left;
}

.activity-time,
.activity-title {
  font-size: var(--fs-md);
}

.activity-title {
  font-weight: normal;
}

span.bold {
  font-weight: 600;
}

.activity {
  color: var(--colors-gray-50);
}

.activity-description {
  margin-top: 0.4rem;
  font-size: 1.4rem;
}

.slide-btn-wrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90vw;
  left: 5vw;
  bottom: 5.6rem;
  align-items: center;
}

.slide-btn {
  width: 3.6rem;
  height: 3.6rem;
  font-weight: normal;
  background-color: var(--colors-card-bg);
  border: 2px solid var(--colors-gray-400);

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: var(--colors-gray-400);
  }
}

.slide-btn svg {
  width: 1.6rem;
}

.carousel {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  will-change: transform;
}

.carousel-slide,
.guest-slide {
  min-width: 100vw;
  max-width: 100vw;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FIX THIS LATERR */
/* #Break {
  color: var(--colors-gray-500);
} */

#guests {
  gap: 5.2rem;
}

.guest-img-wrapper {
  margin-left: calc(50%);
  transform: translateX(-50%);
  position: relative;
  /* overflow: visible; */
  padding-top: 3rem;
}

.guest-img-wrapper img,
.guest-decoration {
  width: 95%;
  border-radius: var(--card-border-radius);
}

.guest-card .title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

h3.guest-name {
  color: var(--colors-gray-50);
  font-size: var(--fs-xl);
}

h4.guest-title {
  font-size: var(--fs-md);
  color: var(--colors-accent);
}

p.guest-description {
  font-size: var(--fs-sm);
  color: var(--colors-gray-200);
}

.guest-decoration {
  border: 1px solid var(--border-color);
  content: "";
  position: absolute;
  z-index: 1;
  top: -2rem;
  left: 2rem;
  height: 100%;
  pointer-events: none;
}

.guest-carousel {
  position: relative;
}

.desktop-slide-btn-wrapper {
  display: none;
}

.lecturer-card-wrapper {
  padding: 3.2rem 2rem 0;
  align-items: center;
}

.lecturer-card-wrapper,
.lecturer-card-wrapper .row {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.lecturer-card {
  background-color: var(--colors-card-bg);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 2rem 1.6rem;
  color: var(--colors-gray-50);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.lecturer-card-header img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.lecturer-card-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

h4.lecturerName {
  font-size: var(--fs-lg);
  font-weight: 300;
}

h5.lecturerTitle {
  padding-top: 0.2rem;
  font-size: var(--fs-sm);
  font-weight: 500;
  color: var(--colors-gray-400);
}

.lecturer-card p {
  color: var(--colors-gray-200);
  font-size: var(--fs-xs);
}

/* Very Tiny Mobile */
@media screen and (max-height: 700px) {
  .tsoi-hero {
    bottom: -9.5vh;
  }

  .tsoi-hero img {
    width: calc(5rem + 40vw + 10vh);
  }

  .donut-stack {
    top: -2.5%;
    right: 30%;
    width: 20%;
  }

  .hero-cta {
    padding: 5.6rem 2rem 5.6rem;
    gap: 2rem;
  }

  .event-info-txt .title,
  .event-info-txt .subtitle {
    font-size: var(--fs-lg);
  }

  .event-info-txt .description {
    font-size: var(--fs-md);
  }

  .activity-time,
  .activity-title,
  .timeslot h4 {
    font-size: var(--fs-sm);
  }

  .slide-btn {
    width: 3rem;
    height: 3rem;
  }

  .slide-btn-wrapper {
    bottom: 63vh;
    width: 90vw;
    left: 5vw;
  }

  .schedule-card img {
    max-height: 20vh;
    width: auto;
    margin: 0 50%;
    transform: translateX(-50%);
  }
}

/* Tablet */
/* @media screen and (min-width: 701px) {
  .tsoi-hero {
    bottom: -15vh;
  }

  .tsoi-hero img {
    width: calc(10rem + 40vw + 5vh);
  }

  .donut-stack {
    right: 32%;
    top: -7%;
    width: 20%;
  }

  .hero-cta {
    padding: 5.6rem 3.2rem 7.2rem;
    gap: 2.8rem;
  }

  .event-info {
    gap: 5.6rem;
  }

  .date-wrapper {
    gap: 1.2rem;
    margin-top: 15rem;
  }

  .date-line-1 {
    font-size: 4.8rem;
    min-width: 10rem;
  }

  .date-line-2 {
    font-size: 2.4rem;
  }

  .date-line-3 {
    font-size: 1.6rem;
    width: 7rem;
  }

  .event-info-txt {
    gap: 1rem;
  }

  .event-info-txt .title,
  .event-info-txt .subtitle {
    font-size: var(--fs-tablet-lg);
  }

  .event-info-txt .description {
    font-size: var(--fs-tablet-md);
  }
} */

/* Desktop */
@media screen and (min-width: 1025px) {
  :root {
    --fs-cta: 1.6rem;
    --fs-lg: 2.4rem;
    --fs-md: 1.6rem;
    --fs-sm: 1.4rem;
    --fs-xs: 1.3rem;
  }

  .nav,
  .footer {
    gap: 4rem;
  }

  .nav {
    padding: 2rem max(5vw, 5rem) 1.6rem;
  }

  .footer {
    padding: 1.6rem max(5vw, 5rem);
  }

  .hamburger {
    display: none;
  }

  .footer svg {
    width: 2rem;
  }

  .btn {
    padding: 1.2rem 0;
  }

  ul.menu {
    flex-direction: row;
    gap: 3.2rem;

    font-size: 1.6rem;

    position: relative;
    opacity: 1;

    width: fit-content;
    height: fit-content;

    top: 0;
    left: 0;

    background: none;
    backdrop-filter: none;
    z-index: 99;
  }

  ul.menu a:hover {
    color: var(--colors-gray-400);
  }

  .hero-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
    gap: max(5vw, 20rem);
    padding: 0 max(5vw, 5rem);
    background-image: radial-gradient(
        circle at 20% -30%,
        hsla(236, 100%, 23%, 75%) 0%,
        /*
        hsla(236, 93%, 17%, 70%) 30%,*/ transparent 50vw
      ),
      linear-gradient(
        90deg,
        hsla(236, 100%, 23%, 50%) 0%,
        rgba(0, 0, 0, 0.25) calc(50vw + 4rem),
        transparent calc(50vw + 4rem)
      );
    background-blend-mode: multiply, multiply;
  }

  .tsoi-hero {
    position: relative;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .donut-stack {
    top: -2.5%;
    right: calc(30% + 5vw);
    width: 30%;
  }

  .tsoi-hero img {
    left: -5vw;
    transform: translateX(0);
    width: fit-content;
    height: min(70vh, 980px);
  }

  .hero-cta {
    position: relative;
    height: 100vh;
    width: min(50vw, 80rem);
    left: 0;
    gap: 3.2rem;
    padding-left: min(10vw, 13.2rem);
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* background-image: radial-gradient(
        circle at 20% -30%,
        hsla(236, 100%, 23%, 75%) 0%,
        hsla(236, 93%, 17%, 70%) 30%,
        transparent 80%
      ),
      linear-gradient(
        120deg,
        hsla(236, 100%, 23%, 50%) 0%,
        rgba(0, 0, 0, 0.25) 100%
      );
    background-blend-mode: multiply, multiply; */
    background-image: none;
    /* background-color: var(--colors-gray-950); */
    /* background-color: var(--colors-card-bg);
    background-image: none; */
  }

  .event-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0;
  }

  .date-wrapper {
    gap: 0.4rem;
    transform: rotate(0);
    margin: 0;
    padding-bottom: 3.2rem;
  }

  .date-line-1,
  .date-line-2,
  .date-line-3 {
    text-align: left;
  }

  .date-line-1 {
    font-size: 9.6rem;
    line-height: 6rem;
    min-width: 16rem;
    text-align: left;
  }

  .date-line-2 {
    font-size: 3.6rem;
  }

  .date-line-3 {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 2.8rem;
  }

  .event-info-txt {
    flex-direction: column;
    gap: 0.8rem;
  }

  /* .event-info-txt .title,
  .event-info-txt .subtitle {
    font-size: var(--fs-lg);
  }

  .event-info-txt .description,
  a.btn.sign-up {
    font-size: var(--fs-md);
  }

  a.btn.sign-up {
    font-size: var(--fs-md);
  } */

  .timeline {
    height: 100vh;
    padding: 6rem 0 0;
    justify-content: center;
  }

  .timeslot h4 {
    font-size: var(--fs-sm);
    margin-bottom: 3.2rem;
  }

  .timeslot h4:nth-child(1)::before {
    width: 80rem;
    max-width: 70vw;
    left: 50%;
    height: 2px;
    transform: translateX(-50%);
  }

  .slide-btn-wrapper {
    display: none;
  }

  .schedule-card img {
    margin: 0;
    height: auto;
    transform: none;
    padding: 0 1rem;
  }

  .schedule-card img,
  .schedule-txt {
    width: 35rem;
    max-width: 28vw;
  }

  .schedule-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
  }

  .carousel {
    overflow: visible;
    width: 100%;
  }

  .carousel-track {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: stretch;
  }

  .guest-slides {
    justify-content: flex-start;
  }

  .carousel-slide {
    min-width: 0;
    max-width: none;
    padding: 0;
  }

  .activity-time {
    min-width: 5.2rem;
  }

  .activity-time,
  .activity-title,
  .timeslot h4 {
    font-size: var(--fs-sm);
  }

  .activity-description {
    font-size: 1.3rem;
  }

  .schedule-txt {
    padding: 2.8rem 2rem;
    border-radius: var(--card-border-radius);
    height: 100%;
    justify-content: center;
  }

  #guests {
    padding-top: 12rem;
    gap: 8rem;
    height: 100vh;
    align-content: flex-end;
  }

  .guest-img-wrapper {
    margin-left: 0;
    transform: none;
    position: relative;
    padding-top: 0;
  }

  .guest-img-wrapper img,
  .guest-decoration {
    max-width: 40vw;
    width: 35rem;
    border-radius: 2rem;
    object-fit: cover;
  }

  .guest-carousel .slide-btn-wrapper,
  .guest-txt {
    max-width: 40vw;
  }

  .guest-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: min(8rem, 2.5vw);
    align-items: flex-end;
  }

  .guest-txt {
    /* align-content: flex-end; */
    height: fit-content;
    padding: 2.8rem 2rem;
    border-radius: var(--card-border-radius);
  }

  .guest-card .title-wrapper {
    display: flex;
    /* flex-direction: column; */
    gap: 0.4rem;
  }

  h4.guest-title {
    font-size: var(--fs-lg);
    color: var(--colors-accent);
  }

  p.guest-description {
    font-size: var(--fs-sm);
    color: var(--colors-gray-200);
  }

  /* .guest-decoration {
    border: 1px solid var(--border-color);
    content: "";
    position: absolute;
    z-index: 1;
    top: -3rem;
    left: 3rem;
    height: 100%;
    pointer-events: none;
  } */

  .guest-carousel {
    position: relative;
  }

  .guest-slide {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
  }

  .guest-carousel .slide-btn-wrapper {
    display: none;
    /* margin-left: 15vw; */
  }

  .desktop-slide-btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;

    position: relative;
    z-index: 10;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5%);
  }

  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(-5%);
  }
}

.rotate {
  transform-origin: 50% 50%;
  will-change: transform;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* faaaaaabulous gradient animations */
@keyframes hero-gradient-animation {
  0% {
    --x-0: 0%;
    --y-0: 99%;
    --x-1: 93%;
    --y-1: 95%;
    --x-2: 46%;
    --y-2: 94%;
  }
  100% {
    --x-0: 19%;
    --y-0: 15%;
    --x-1: 16%;
    --y-1: 13%;
    --x-2: 56%;
    --y-2: 43%;
  }
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 99%;
}
@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 93%;
}
@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 95%;
}
@property --x-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 46%;
}
@property --y-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 94%;
}

#hero {
  --c-0: hsla(11, 100%, 50%, 0.75);
  --c-1: #000875;
  --c-2: #ff008c;
  --c-3: hsla(206, 100%, 9%, 0.02);

  --s-start-0: 0%;
  --s-end-0: 67%;
  --s-start-1: 0%;
  --s-end-1: 66%;
  --s-start-2: 0%;
  --s-end-2: 81%;
  --s-start-3: 0%;
  --s-end-3: 150%;

  --x-0: 0%;
  --y-0: 99%;
  --x-1: 93%;
  --y-1: 95%;
  --x-2: 46%;
  --y-2: 94%;
  --x-3: 89%;
  --y-3: 8%;

  background-color: rgb(8, 40, 66);
  background-image: url("/assets/bg-noise.png"),
    radial-gradient(
      circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)
    ),
    radial-gradient(
      circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)
    ),
    radial-gradient(
      circle at var(--x-2) var(--y-2),
      var(--c-2) var(--s-start-2),
      transparent var(--s-end-2)
    ),
    radial-gradient(
      circle at var(--x-3) var(--y-3),
      var(--c-3) var(--s-start-3),
      transparent var(--s-end-3)
    );
  background-repeat: repeat;
  background-blend-mode: overlay, normal, normal, normal, normal;
  animation: hero-gradient-animation 17s ease-in-out infinite alternate-reverse;
  will-change: background-position, background;
}

#lecturers {
  --cb-0: hsla(266, 1%, 12%, 1);
  --cb-1: hsla(0, 0%, 43%, 0.49);
  --cb-2: hsla(0, 7%, 16%, 0.49);
  --cb-3: rgb(151, 126, 151);

  background-color: var(--colors-gray-950);
  background-image: url("/assets/bg-noise.png"),
    radial-gradient(circle at 85% 80%, var(--cb-0) 9%, transparent 55%),
    radial-gradient(circle at 60% 24%, var(--cb-1) 5%, transparent 72%),
    radial-gradient(circle at 13% 82%, var(--cb-2) 5%, transparent 52%),
    radial-gradient(circle at 24% 7%, var(--cb-3) 13%, transparent 68%);
  background-repeat: repeat;
  background-blend-mode: overlay, normal, normal, normal;
}

#schedule,
#guests {
  --cb-0: hsla(266, 1%, 12%, 1);
  /* --cb-1: hsla(335, 2%, 22%, 1); */
  --cb-2: hsla(54, 0%, 0%, 0.49);
  --cb-3: hsla(299, 4%, 36%, 1);

  --sb-start-0: 9%;
  --sb-end-0: 55%;
  --sb-start-1: 5%;
  --sb-end-1: 72%;
  --sb-start-2: 5%;
  --sb-end-2: 52%;
  --sb-start-3: 13%;
  --sb-end-3: 68%;

  --xb-0: 85%;
  --yb-0: 80%;
  --xb-1: 60%;
  --yb-1: 24%;
  --xb-2: 13%;
  --yb-2: 82%;
  --xb-3: 24%;
  --yb-3: 7%;

  background-color: var(--colors-gray-950);
  background-image: url("/assets/bg-noise.png"),
    radial-gradient(
      circle at var(--xb-0) var(--yb-0),
      var(--cb-0) var(--sb-start-0),
      transparent var(--sb-end-0)
    ),
    /* radial-gradient(
      circle at var(--xb-1) var(--yb-1),
      var(--cb-1) var(--sb-start-1),
      transparent var(--sb-end-1)
    ), */
      radial-gradient(
        circle at var(--xb-2) var(--yb-2),
        var(--cb-2) var(--sb-start-2),
        transparent var(--sb-end-2)
      ),
    radial-gradient(
      circle at var(--xb-3) var(--yb-3),
      var(--cb-3) var(--sb-start-3),
      transparent var(--sb-end-3)
    );
  background-repeat: repeat;
  background-blend-mode: overlay, normal, normal, normal;
  /* animation: schedule-gradient-animation 25s ease-in-out infinite alternate;
  will-change: background-position, background; */
}
