.contact-wrapper {
  color: var(--colors-gray-50);
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.partner-contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.contact-card img {
  width: 80%;
  height: auto;
  margin: auto;
}

.contact-card {
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contact-card .btn-wrapper {
  display: flex;
  gap: 0.8rem;
}

.contact-card + .contact-card {
  background-color: var(--colors-card-bg);
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  border-top: 1px solid var(--border-color);
  padding: 2rem 1.6rem 50vh;
  gap: 2rem;

  & .btn-wrapper {
    margin-top: 0.8rem;
  }
}

.contact-card h4,
.contact-card h5 {
  font-size: var(--fs-lg);
}
.contact-card h5 {
  color: var(--colors-gray-400);
  font-weight: 300;
}

ul.organizing-committee {
  margin: 0.4rem 0 0 1rem;
}

ul.organizing-committee li svg {
  width: var(--fs-sm);
}

ul.organizing-committee li a {
  font-size: var(--fs-sm);
  color: var(--colors-gray-200);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  transition: 150ms ease-in-out;
  &:hover {
    color: var(--colors-accent);
  }
}

.organizer-title h6,
.partner-contact-wrapper p {
  font-size: var(--fs-md);
}

p.attributions {
  font-size: var(--fs-xs);
  color: var(--colors-gray-400);
}

a.organizer-contact {
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
}

/* Tiny Mobile */
@media screen and (max-height: 700px) {
  .contact-card img {
    width: 70%;
  }

  .contact-card {
    gap: 0.4rem;
  }

  .contact-card + .contact-card {
    padding: 2rem 1.6rem 50vh;
    gap: 2rem;

    & .btn-wrapper {
      margin-top: 0.8rem;
    }
  }

  .contact-card h4,
  .contact-card h5 {
    font-size: var(--fs-md);
  }

  .organizer-title {
    display: flex;
    gap: 0.8rem;
  }

  .organizer-title h6,
  .partner-contact-wrapper p {
    font-size: var(--fs-sm);
  }

  p.attributions::before {
    content: "\22C5 \2002";
  }

  a.organizer-contact {
    margin-top: 0;
    margin-bottom: 0.8rem;
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .contact-wrapper {
    gap: 2rem;
    flex-direction: row;
    width: 100vw;
    padding: 0 10vw;
  }

  .contact-card {
    width: 50%;
    max-width: 65rem;
  }

  .contact-card + .contact-card {
    padding: 2rem;
    border-radius: var(--card-border-radius);
    justify-content: center;
  }

  .contact-card img {
    width: 100%;
  }
}
