.lecturer-card-wrapper {
  padding: 2vh 2rem 0;
  align-items: center;
}

.lecturer-card-wrapper,
.lecturer-card-wrapper .row {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.lecturer-card {
  background-color: var(--colors-card-bg);
  border-top: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 1.2rem;
  color: var(--colors-gray-50);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  backdrop-filter: var(--backdrop-bg);
}

.lecturer-card-header img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  filter: saturate(0);
}

.lecturer-card-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

h4.lecturerName {
  font-size: var(--fs-lg);
  font-weight: 300;
}

h5.lecturerTitle {
  padding-top: 0.2rem;
  font-size: var(--fs-sm);
  font-weight: 500;
  color: var(--colors-accent);
}

.lecturer-card p {
  color: var(--colors-gray-200);
  font-size: var(--fs-xs);
}

/* Very Tiny Mobile */
@media screen and (max-height: 700px) {
  .lecturer-card-wrapper {
    padding: 2vh 0.8rem 0;
  }

  .lecturer-card-wrapper,
  .lecturer-card-wrapper .row {
    gap: 0.8rem;
  }

  .lecturer-card {
    gap: 0.6rem;
  }

  h4.lecturerName {
    font-size: var(--fs-md);
    font-weight: 300;
  }

  h5.lecturerTitle {
    padding-top: 0;
    font-size: 1.2rem;
  }

  .lecturer-card p {
    font-size: var(--fs-xs);
  }

  .lecturer-card-header img {
    width: 3.2rem;
    height: 3.2rem;
  }

  .lecturer-card-header {
    gap: 1.2rem;
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .lecturer-card-wrapper {
    padding: 3.2rem 0 0;
    padding: 6rem 0 0;
    max-width: 80vw;
  }

  .lecturer-card-wrapper .row {
    flex-direction: row;
  }

  .lecturer-card-wrapper,
  .lecturer-card-wrapper .row {
    gap: 2rem;
  }

  .lecturer-card {
    padding: 2rem 1.6rem;
    gap: 1.6rem;
    width: 50%;
  }

  .lecturer-card-header img {
    width: 5.2rem;
    height: 5.2rem;
  }

  h5.lecturerTitle {
    padding-top: 0rem;
    font-size: var(--fs-md);
  }

  .lecturer-card p {
    font-size: var(--fs-sm);
  }
}
