#partners {
  justify-content: center;
}

.partners-wrapper {
  gap: 3.2rem;
  width: 100%;
  align-items: center;
  padding: 4rem 2rem;
  border-radius: var(--border-radius);
}

.partner-logo {
  width: 25rem;
}

.partner-logo img {
  padding: 0 10%;
  width: 100%;
}

.partner-logo svg {
  fill: var(--colors-gray-50);
}

/* Very Tiny Mobile */
@media screen and (max-height: 700px) {
  .partners-wrapper {
    gap: 2rem;
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  #partners {
    justify-content: center;
  }

  .partners-wrapper {
    flex-direction: row;
    gap: 3.6rem;
    padding: 3.2rem 0;
    justify-content: center;
  }
}
